<div *ngIf="state&&state==FormStates.success" class="alert alert-success alert-dismissible fade show m-0 p-2" role="alert">
  <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
  <strong><i class="bi bi-check-circle text-success"></i></strong>&nbsp;&nbsp;<span *ngIf="alert">{{alert}}</span>
</div>

<div *ngIf="state&&state==FormStates.error" class="alert alert-danger alert-dismissible fade show m-0 p-2" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <strong><i class="bi bi-exclamation-circle"></i></strong>&nbsp;&nbsp;<span *ngIf="alert">{{alert}}</span>
</div>

<div *ngIf="state&&state==FormStates.loading" class="alert alert-info alert-dismissible fade show m-0 p-2" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <strong><div class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div></strong>&nbsp;&nbsp;<span *ngIf="alert">{{alert}}</span>
</div>
